<div id="navBar">
    <div id="name">
        <%= link_to "Martín Rodriguez", personal_index_path, class: "links" %>
        <p>Martín Rodriguez</p>
    </div>
    <div id="navBarLinks">
        <%= link_to "About Me", about_index_path, class: "links" %>
        <%= link_to "Skills", skills_index_path, class: "links" %>
        <%= link_to "Contact", contact_index_path, class: "links" %>
    </div>  
</div>
