<body>
<div id="hero">
    <div id="imagen">
        <%= image_tag "163907287.jpeg", alt: "Imagen de perfil" %>
    </div>

    <h1 id="mainName">Martín Rodríguez</h1>
    <h2 id="mainDes">Software Developer</h2>
</div>

</body>
