<section id="contactSection">
    <h1 id="contact">Contact</h1>
    <p id="textContact">Interested in working together? You can reach out to me through the following platforms.</p>
    <div class="icon-container">
        <a href="https://www.linkedin.com/in/martin-rodriguez-riquelme-231189204/" class="icon-circle">
            <%= image_tag "linkedin-brands.svg", width: 50, height: 50, alt: "LinkedIn" %>
        </a>
        <a href="https://github.com/MartinRodriguez2001" class="icon-circle">
            <%= image_tag "github-brands.svg", width: 50, height: 50, alt: "GitHub" %>
        </a>
        <a href="mailto:marodriguez8@miuandes.cl" class="icon-circle">
            <%= image_tag "envelope-solid.svg", width: 50, height: 50, alt: "Email" %>
        </a>
    </div>
</section>
